<mat-toolbar color="primary" class="header">
    <a routerLink="/">
        <img src="../assets/images/logo.svg" alt="logo" class="logo" />
        <span class="title">{{title}}</span>
    </a>
</mat-toolbar>
<mat-divider></mat-divider>
<div class="main">
    <nav mat-tab-nav-bar color="accent" mat-align-tabs="center">
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="link.link"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive"
        >
            {{link.label}}
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>
<mat-divider></mat-divider>
<mat-toolbar class="footer" color="primary">
    <span>&copy; 2021 Emelyanov S.I.</span>
    <span class="spacer"></span>
    <span>
        E-mail:
        <a matTooltip="Emelyanov Sergey"
           matTooltipHideDelay="100"
           [matTooltipPosition]="position.value"
           href="mailto: SYemelianau@gomel.iba.by"
           target="_blank"
        >SYemelianau@gomel.iba.by</a>
    </span>
</mat-toolbar>
