* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

mat-spinner {
    margin: 30vh auto;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: #2f3640;
    transition: 0.4s;
}

a:active {
    color: #50bc5c;
    transition: none;
}

.spacer {
    flex: 1 1 auto;
}

.error {
    display: flex;
    flex-direction: column;
}


.product {
    display: flex;
    margin: 5vh 10vh;
}

.product:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}

.about {
    display: flex;
    flex-direction: column;
}

.img {
    width: 15vh;
    height: 15vh;
    margin: 0 2vh;
}
